.container {
    background-color: rgb(121 67 156);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
}
.container1 {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-shadow: 100px;
    height: 415px;
    box-shadow: 10px 10px #521f6a;
}
h1 {
    color: #521f6a;
    text-align: center;
    font-weight: bolder;
}
p {
    font-weight: bold;
}
#container2 {
    background-color: rgb(122 67 151);
    border-radius: 50px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    padding-bottom: 10px;
    font-weight: bold;
    box-shadow: 0px 5px;
}
#input1 {
    border: 3px solid black;
    width: 190px;
    border-radius: 2px;
    padding: 10px;
    box-shadow: 0px 3px #000000;
}
#input2 {
    box-shadow: 0px 3px #000000;
    width: 190px;
    border: 3px solid black;
    border-radius: 2px;
    padding: 10px;
}
#input3 {
    border: 3px solid black;
    width: 190px;
    border-radius: 2px;
    padding: 10px;
    box-shadow: 0px 3px #000000;
}
.container5 {
    color: rgb(121 67 156);
    text-decoration: underline;
}
#lastline {
    font-weight: normal;
}